<tr class="nested-fields">
  <td><%= f.input_field :name, placeholder: 'Item Name', class: ' form-control' %></td>
  <td><%= f.input_field :price, placeholder: 'Price', class: ' form-control' %></td>
  <td><%= f.input_field :description, placeholder: 'Some description for this time...', class: ' form-control' %></td>

  <td>
    <%= link_to_remove_association f do%>
      <i class="remove-nested-td glyphicon glyphicon-remove"></i>
    <% end %>
  </td>
</tr>