<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center" style="margin-top: 125px; height:250px; overflow:hidden;">
      <%= image_tag '/logo_tagline.png', height: '300' %>
    </div>
  </div>
  <div class="row">
    <div class="text-center" style="margin-top: 50px;">
      <%= image_tag '/sign_up_button.png', height: '50' %>
    </div>
  </div>
</div>